.card {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.scoreTitleBlue {
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.7;
    color: var(--blue);
}

.scoreTitlePurple {
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.7;
    color: var(--purple);
}

.score {
    font-weight: bold;
    font-size: .75rem;
    line-height: 1.75;
    color: var(--gray-200);
    background: var(--gray-400);
    border-radius: 999px;    
    padding: .125rem .5rem;

}
