.wrapper {
    max-width: 46rem;
    width: 46rem;
    left: calc((100% - 46rem) / 2);
    position: absolute;
    display: grid; /* assim é possível customizar o tamanho de cada coluna */
    margin-top: -1.68rem;    
}

.addTaskForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: .5rem;
    justify-content: center;
    width: 100%;
    height: 3.375rem;
}

.addTaskForm > input {
    height: 100%;
    width: 40rem;
    border-radius: 0.5rem;
    background-color: var(--gray-500);
    color: var(--gray-300);
    border: 1px solid var(--gray-700);
    padding: 1rem;
}

.addTaskForm button[type=submit] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: .5rem;
    background: var(--blue-dark);
    border-radius: 5px;
    border: 0px;
    color: var(--gray-100);
    transition-property: "background-color";
    transition-duration: .1s;
}

.addTaskForm button[type=submit]:hover {
    background-color: var(--blue);
    transition-property: "background-color";
    transition-duration: .1s;
}