.headerTasks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.bodyTask {
    margin-top: 4rem;
}

.noTask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;    
}

.noTask span {
    display: block;
    color: var(--gray-300);
    font-size: 1rem;
    line-height: 1.4;
}

.noTask img {
    height: 56px;
    margin-bottom: 1rem;
    margin-top: 4rem;
}

